body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: calc(16px + .7vw);
}

table {
    font-size: calc(11px + .3vw);
    text-align: center;
}

td,
th {
    border: 1px solid black;
}

.rotate_left {
    transform: rotate(-90.0deg);
    white-space: nowrap;
}

.container {
    display: grid;
    justify-items: center;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto 1fr 1fr 1fr auto auto;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}


/* Card */
.card {
    grid-row: 2/5;
    grid-column: 2;
    display: grid;
    width: 100%;
    max-width: 700px;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


.card div {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 0 50px 20px 50px;
}

.card .front {
    grid-column: 1;
    grid-row: 1;
    background: repeating-linear-gradient(
        0deg,
        red,
        rgb(227, 204, 131) 2px,
        rgb(227, 204, 131) 40px,
        black 30px
        );
}

.card .back {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1;
    background: repeating-linear-gradient(
        0deg,
        red,
        rgb(131, 173, 227) 2px,
        rgb(131, 173, 227) 40px,
        black 30px
        );
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}


/* Content on Card */
.content {
    height: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


li {
    text-align: left;
}

.solution {
    text-align: center;
}

.hidden {
    display: none;
}

/* Buttons */
button {
    font-size: calc(18px + .7vw);
    margin: 20px;
}

button.correct {
    background-color: rgb(33, 120, 33);
}

button.wrong {
    background-color: rgb(184, 17, 17);
}

.next {
    max-height: 100px;
    color: white;
    grid-row-start: 3;
}

.return {
    font-size: calc(10px + .5vw);
    align-self: flex-end;
    margin: 5% 0 0 0;
}

.reload {
    grid-row: 6;
    grid-column: 2;
    display: flex;
}

.choices {
    grid-row: 1;
    grid-column: 2;
    width: auto;
}

.flex_container {
    display: flex;
}

.flex_container div {
    margin: 5px 15px 5px 15px;
    font-size: calc(12px + .5vw);
}


/* Text outside the Card */
.remaining {
    grid-row: 5;
    grid-column: 2;
}